body {
margin: 0; /* Remove default margin */
padding: 0; /* Remove default padding */
overflow-x: hidden; /* Prevent horizontal scrolling */
background-color: black;
}
.Navbar_Hero_Container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.Hero_About_Container {
    display: flex;
    flex-direction: column;
    gap: 10rem;

}